# pandas 进阶修炼
<br>

本习题基于 `pandas` 版本 `1.1.3`，所有内容应当在 `Jupyter Notebook` 中执行以获得最佳效果。


不同版本之间写法可能会有少许不同，如若碰到此情况，你应该学会如何自行检索解决。

## 7 - 数据透视与合并



<br>

**<font color = '#5172F0'><font size=3.5>必读👇👇👇**</font>
    
现在让我们继续练习 pandas数据分析另一组常用操作 --> **数据透视与合并**


本节习题将涉及四大函数：
    
- pivot_table
- concat
- merge
- join

随着练习的深入，若没有一定的基础知识将很难继续刷题
    
官方文档永远是最好的学习手册，在本节之前强烈建议学习[官方文档对应部分](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging)

## 初始化

<br>

该 `Notebook` 版本为**习题+答案版**


请执行下方单元格以初始化读取本节习题的答案

执行完毕后，你可以使用 `ans(1)` 来查看第 1 题的参考解答，其余习题类似。

注意：所有答案并非固定（唯一），我提供的答案仅供参考（并非推荐答案或者最优解）

In [1]:
import sys
sys.path.append('../document/')
from inits import initialize, ans
res = initialize("../document/answer-7.txt")

***************正在初始化***************
*************读取到配置文件*************
***************初始化成功***************

## 数据透视表

![](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/14/16316101294678.jpg?域名/sample.jpg?x-oss-process=style/stylename)

### 1 - 加载数据

读取当前目录下 `"某超市销售数据.csv"` 并设置千分位符号为 `,`

In [5]:
import pandas as pd
import numpy as np

# csv文件中销售额表示为3,305，类型为object
df = pd.read_csv('某超市销售数据.csv', thousands = ',')

### 2 - 数据透视｜默认

制作各省「平均销售额」的数据透视表

In [8]:
pd.pivot_table(df, index = ['省/自治区'], values = ['销售额'], aggfunc = [np.mean])
pd.DataFrame(df.groupby('省/自治区')['销售额'].mean())

               销售额
省/自治区
上海     1875.712934
云南     1863.789030
内蒙古    1314.826316
北京     1726.857143
吉林     1701.563567
四川     1157.875536
天津     1611.206667
宁夏     1651.680000
安徽     1477.868251
山东     1642.659111
山西     1751.359184
广东     1592.185340
广西     1675.061135
新疆     1402.384615
江苏     1279.898089
江西     1966.477876
河北     1780.275248
河南     1558.400335
浙江     1347.277778
海南     1721.982759
湖北     1324.808442
湖南     1603.702222
甘肃     1602.893443
福建     1732.044693
西藏      201.000000
贵州     1425.978723
辽宁     1363.381982
重庆     1383.082927
陕西     1880.606635
青海     2978.954545
黑龙江    1800.438503

### 3 - 数据透视｜指定方法

制作各省「销售总额」的数据透视表

In [9]:
pd.pivot_table(df, index = ['省/自治区'], values = ['销售额'], aggfunc = sum)
pd.pivot_table(df, index = ['省/自治区'], values = ['销售额'], aggfunc = [np.sum])

           销售额
省/自治区
上海      594601
云南      441718
内蒙古     249817
北京      350552
吉林      896724
四川      269785
天津      483362
宁夏       41292
安徽      684253
山东     1884130
山西      429083
广东     1520537
广西      383589
新疆       72924
江苏      401888
江西      222212
河北      899039
河南      930365
浙江      266761
海南       99875
湖北      408041
湖南      721666
甘肃      195553
福建      620072
西藏         201
贵州       67021
辽宁      756677
重庆      283532
陕西      396808
青海       65537
黑龙江    1346728

### 4 - 数据透视｜多方法

制作各省「销售总额」与「平均销售额」的数据透视表

In [10]:
pd.pivot_table(df, index = ['省/自治区'], values = ['销售额'], aggfunc = ['mean', sum])

              mean      sum
               销售额      销售额
省/自治区
上海     1875.712934   594601
云南     1863.789030   441718
内蒙古    1314.826316   249817
北京     1726.857143   350552
吉林     1701.563567   896724
四川     1157.875536   269785
天津     1611.206667   483362
宁夏     1651.680000    41292
安徽     1477.868251   684253
山东     1642.659111  1884130
山西     1751.359184   429083
广东     1592.185340  1520537
广西     1675.061135   383589
新疆     1402.384615    72924
江苏     1279.898089   401888
江西     1966.477876   222212
河北     1780.275248   899039
河南     1558.400335   930365
浙江     1347.277778   266761
海南     1721.982759    99875
湖北     1324.808442   408041
湖南     1603.702222   721666
甘肃     1602.893443   195553
福建     1732.044693   620072
西藏      201.000000      201
贵州     1425.978723    67021
辽宁     1363.381982   756677
重庆     1383.082927   283532
陕西     1880.606635   396808
青海     2978.954545    65537
黑龙江    1800.438503  1346728

In [11]:
pd.pivot_table(df, index = ['省/自治区'], values = ['销售额'], aggfunc = [np.mean, np.sum, np.median, np.max, np.min])

              mean      sum  median   amax amin
               销售额      销售额     销售额    销售额  销售额
省/自治区
上海     1875.712934   594601   673.0  29124   18
云南     1863.789030   441718   714.0  24536   25
内蒙古    1314.826316   249817   457.0  11164   33
北京     1726.857143   350552   655.0  30307   16
吉林     1701.563567   896724   689.0  21286   15
四川     1157.875536   269785   580.0  15207   32
天津     1611.206667   483362   633.0  22501   29
宁夏     1651.680000    41292   666.0   8469   89
安徽     1477.868251   684253   556.0  20075   25
山东     1642.659111  1884130   683.0  27047   21
山西     1751.359184   429083   698.0  18368   22
广东     1592.185340  1520537   684.0  23416   13
广西     1675.061135   383589   558.0  15305   22
新疆     1402.384615    72924   687.0  12611   77
江苏     1279.898089   401888   557.5  15471   27
江西     1966.477876   222212   662.0  18061   29
河北     1780.275248   899039   713.0  35621   41
河南     1558.400335   930365   617.0  25995   17
浙江     1347.277778   266761   547.0  15671   32
海南     1721.982759    99875   707.5  17656   42
湖北     1324.808442   408041   542.0  14250   25
湖南     1603.702222   721666   577.0  19737   36
甘肃     1602.893443   195553   755.0   9497   38
福建     1732.044693   620072   613.5  27113   24
西藏      201.000000      201   201.0    201  201
贵州     1425.978723    67021   890.0   6510   71
辽宁     1363.381982   756677   601.0  12469   14
重庆     1383.082927   283532   599.0  19243   24
陕西     1880.606635   396808   627.0  20943   34
青海     2978.954545    65537  1801.0   9032   98
黑龙江    1800.438503  1346728   665.5  25712   22

### 5 - 数据透视｜多指标

制作各省市「销售总额」与「利润总额」的数据透视表

In [13]:
pd.pivot_table(df, index = ['省/自治区'], values = ['销售额', '利润'], aggfunc = sum)
pd.DataFrame(df.groupby('省/自治区')['销售额', '利润'].sum())

/var/folders/qj/8tfrrqrs1bd7crl_5jfktjyr0000gn/T/ipykernel_30574/4176997876.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  pd.DataFrame(df.groupby('省/自治区')['销售额', '利润'].sum())

           销售额      利润
省/自治区
上海      594601   87236
云南      441718   83201
内蒙古     249817  -20685
北京      350552   57883
吉林      896724  152504
四川      269785  -16615
天津      483362   63108
宁夏       41292   -1149
安徽      684253  133312
山东     1884130  310042
山西      429083   79913
广东     1520537  278591
广西      383589   61444
新疆       72924   13696
江苏      401888   -6500
江西      222212   27144
河北      899039  153247
河南      930365  168714
浙江      266761  -17024
海南       99875   21298
湖北      408041  -22896
湖南      721666   92944
甘肃      195553  -25298
福建      620072  133791
西藏         201       4
贵州       67021    5408
辽宁      756677  -24930
重庆      283532   39688
陕西      396808   61753
青海       65537    4354
黑龙江    1346728  228262

### 6 - 数据透视｜多索引

制作「各省市」与「不同类别」产品「销售总额」的数据透视表

In [18]:
pd.pivot_table(df, index = ['省/自治区', '类别'], values = ['销售额'], aggfunc = sum)
pd.DataFrame(df.groupby(['省/自治区', '类别'])['销售额'].sum())

               销售额
省/自治区 类别
上海    办公用品  198529
      家具    221058
      技术    175014
云南    办公用品  123051
      家具    174155
...            ...
青海    家具     25923
      技术     22896
黑龙江   办公用品  473319
      家具    497504
      技术    375905

[91 rows x 1 columns]

### 7 - 数据透视｜多层

制作各省市「不同类别」产品的「销售总额」透视表

In [17]:
pd.pivot_table(df, index = ['省/自治区'], values = ['销售额'], columns = '类别', aggfunc = sum)

            销售额
类别         办公用品        家具        技术
省/自治区
上海     198529.0  221058.0  175014.0
云南     123051.0  174155.0  144512.0
内蒙古     74058.0   95426.0   80333.0
北京     144232.0  127407.0   78913.0
吉林     215143.0  287498.0  394083.0
四川     111393.0   88297.0   70095.0
天津     142526.0  149452.0  191384.0
宁夏      19529.0   16449.0    5314.0
安徽     200511.0  215901.0  267841.0
山东     575520.0  664339.0  644271.0
山西     121458.0  175522.0  132103.0
广东     494643.0  530054.0  495840.0
广西     102625.0  165140.0  115824.0
新疆      38345.0   20520.0   14059.0
江苏     163919.0  152868.0   85101.0
江西      37114.0  107047.0   78051.0
河北     284739.0  306535.0  307765.0
河南     266916.0  294593.0  368856.0
浙江      84471.0   84436.0   97854.0
海南      34141.0   41225.0   24509.0
湖北     112230.0  118053.0  177758.0
湖南     197969.0  241804.0  281893.0
甘肃      54012.0   68657.0   72884.0
福建     142728.0  243289.0  234055.0
西藏        201.0       NaN       NaN
贵州       9713.0   29285.0   28023.0
辽宁     214994.0  270279.0  271404.0
重庆      71020.0   96318.0  116194.0
陕西     119169.0  187497.0   90142.0
青海      16718.0   25923.0   22896.0
黑龙江    473319.0  497504.0  375905.0

### 8 - 数据透视｜综合

制作「各省市」、「不同类别」产品「销售量与销售额」的「均值与总和」的数据透视表，并在最后追加一行『合计』

In [20]:
pd.pivot_table(df, index = ['省/自治区', '类别'], values = ['销售额', '数量'], aggfunc = ['mean', sum], margins = True)

                mean                 sum
                  数量          销售额     数量       销售额
省/自治区 类别
上海    办公用品  3.706897  1140.971264    645    198529
      家具    4.132530  2663.349398    343    221058
      技术    3.616667  2916.900000    217    175014
云南    办公用品  3.913043   891.673913    540    123051
      家具    4.224490  3554.183673    207    174155
...              ...          ...    ...       ...
青海    技术    3.833333  3816.000000     23     22896
黑龙江   办公用品  3.657471  1088.089655   1591    473319
      家具    3.921687  2997.012048    651    497504
      技术    3.442177  2557.176871    506    375905
All         3.768093  1608.892099  37436  15984343

[92 rows x 4 columns]

### 9 - 数据透视｜筛选

在上一题的基础上，查询 **「类别」** 等于 **「办公用品」** 的详情

In [22]:
table = pd.pivot_table(df, index = ['省/自治区', '类别'], values = ['销售额', '数量'], aggfunc = ['mean', sum], margins = True)
table.query('类别 == ["办公用品"]')

                mean                sum
                  数量          销售额    数量     销售额
省/自治区 类别
上海    办公用品  3.706897  1140.971264   645  198529
云南    办公用品  3.913043   891.673913   540  123051
内蒙古   办公用品  3.391304   643.982609   390   74058
北京    办公用品  3.750000  1163.161290   465  144232
吉林    办公用品  3.520270   726.834459  1042  215143
四川    办公用品  3.947368   837.541353   525  111393
天津    办公用品  3.917127   787.436464   709  142526
宁夏    办公用品  3.750000  1627.416667    45   19529
安徽    办公用品  3.710526   753.800752   987  200511
山东    办公用品  3.775112   862.848576  2518  575520
山西    办公用品  3.880597   906.402985   520  121458
广东    办公用品  3.908088   909.270221  2126  494643
广西    办公用品  3.954545   777.462121   522  102625
新疆    办公用品  3.575758  1161.969697   118   38345
江苏    办公用品  3.849741   849.321244   743  163919
江西    办公用品  3.523077   570.984615   229   37114
河北    办公用品  3.968750   988.677083  1143  284739
河南    办公用品  3.628242   769.210375  1259  266916
浙江    办公用品  3.684211   740.973684   420   84471
海南    办公用品  3.314286   975.457143   116   34141
湖北    办公用品  3.666667   645.000000   638  112230
湖南    办公用品  3.629771   755.606870   951  197969
甘肃    办公用品  4.206349   857.333333   265   54012
福建    办公用品  3.801047   747.267016   726  142728
西藏    办公用品  3.000000   201.000000     3     201
贵州    办公用品  3.954545   441.500000    87    9713
辽宁    办公用品  3.741722   711.900662  1130  214994
重庆    办公用品  3.876106   628.495575   438   71020
陕西    办公用品  3.816667   993.075000   458  119169
青海    办公用品  4.444444  1857.555556    40   16718
黑龙江   办公用品  3.657471  1088.089655  1591  473319

### 10 -数据透视｜逆透视

逆透视就是将宽的表转换为长的表，例如将第 5 题的透视表进行逆透视，其中不需要转换的列为『数量』列

In [24]:
table = pd.pivot_table(df, index = '类别', values = ['销售额', '利润', '数量'], aggfunc = sum)
table

          利润     数量      销售额
类别
办公用品  752124  21389  4844936
家具    628052   8434  5696531
技术    742264   7613  5442876

In [26]:
# 以 '数量' 为index
table.melt(id_vars = ['数量'], var_name = '分类', value_name = '金额')

      数量   分类       金额
0  21389   利润   752124
1   8434   利润   628052
2   7613   利润   742264
3  21389  销售额  4844936
4   8434  销售额  5696531
5   7613  销售额  5442876

## 数据合并

### concat - 数据拼接

`concat`主要用于**数据拼接**，也是非常常用的一个操作

除了官方文档外很难找到比官方文档更好的练习

以下案例来源或基于 [👉官方文档](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html) 中的案例修改而来

在练习之前应执行下方代码生成数据

并应预览不同数据的结构以及每题的图解（如果有）

In [28]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])


df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])


df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])


df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
df4

#### 11 - <font color = '#FB8E00'>concat</font>｜默认拼接

拼接 df1 和 df2

In [ ]:
# 上下连接
pd.concat([df1, df2])

#### 12 - <font color = '#FB8E00'>concat</font>｜拼接多个

垂直拼接 `df1、df2、df3`，效果如下图所示

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_basic.png)

In [ ]:
pd.concat([df1, df2, df3])

#### 13 - <font color = '#FB8E00'>concat</font>｜重置索引

垂直拼接 df1 和 df4，并按顺序重新生成索引，

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_ignore_index.png)

In [29]:
# 不忽略索引会把原索引填充
pd.concat([df1, df4], ignore_index = True)

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

#### 14 - <font color = '#FB8E00'>concat</font>｜横向拼接

横向拼接 `df1、df4`，效果如下图所示


![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1.png)

In [ ]:
pd.concat([df1, df4], axis = 1)

#### 15 - <font color = '#FB8E00'>concat</font>｜横向拼接（取交集）

在上一题的基础上，只取结果的交集

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_inner.png)

In [ ]:
pd.concat([df1, df4], axis = 1, join = 'inner')

#### 16 - <font color = '#FB8E00'>concat</font>｜横向拼接（取指定）

在 14 题基础上，只取包含 df1 索引的部分

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_axis1_join_axes.png)

In [30]:
pd.concat([df1, df4], axis = 1).reindex(df1.index)

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

![公众号：早起Python](http://liuzaoqi.oss-cn-beijing.aliyuncs.com/2021/09/18/16319660121648.jpg?域名/sample.jpg?x-oss-process=style/stylename)

#### 17 - <font color = '#FB8E00'>concat</font>｜新增索引

拼接 `df1、df2、df3`，同时新增一个索引（`x、y、z`）来区分不同的表数据来源

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_concat_keys.png)

In [31]:
pd.concat([df1, df2, df3], keys = ['x', 'y', 'z'])

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

### merge - 数据连接

concat是拼接，merge则是连接，同样重要的一个操作

同样很难找到比官方文档更好的练习，以下案例来源或基于 [👉官方文档](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) 中的案例修改而来

在练习之前应执行每题下方的代码生成数据

并应预览不同数据的结构以及每题的图解（如果有）

#### 18 - <font color = '#1B85FF' >merge</font>｜按单键

根据 `key` 连接 `left` 和 `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key.png)

In [36]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [37]:
# on = 'key' 只有 'key' 一样的时候才能merge
pd.merge(left, right, on = 'key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

#### 19 - <font color = '#1B85FF' >merge</font>｜按多键

根据 `key1` 和 `key2` 连接 `left` 和 `right`

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_multiple.png)

In [38]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})


right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
# 对应key值分别相等
pd.merge(left, right, on = ['key1', 'key2'])

#### 20 - <font color = '#1B85FF' >merge</font>｜左外连接


如下图所示的结果连接 left 和 right，保留左表全部键
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_left.png)

In [ ]:
# 左外连接
pd.merge(left, right, how = 'left', on = ['key1', 'key2'])

#### 21 - <font color = '#1B85FF' >merge</font>｜右外连接


如下图所示的结果连接 left 和 right，保留右表全部键
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_right.png)

In [ ]:
pd.merge(left, right, how = 'right', on = ['key1', 'key2'])

#### 22 - <font color = '#1B85FF' >merge</font>｜全外连接


如下图所示的结果连接 left 和 right，保留全部键
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_outer.png)

In [ ]:
pd.merge(left, right, how = 'outer', on = ['key1', 'key2'])

#### 23 - <font color = '#1B85FF' >merge</font>｜内连接


如下图所示的结果连接 left 和 right，保留交集
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_on_key_inner.png)

In [ ]:
pd.merge(left, right, how = 'inner', on = ['key1', 'key2'])

#### 24 - <font color = '#1B85FF' >merge</font>｜重复索引


重新产生数据并按下图所示进行连接
![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_merge_overlapped_suffix.png)

In [39]:
left = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'v': [1, 2, 3]})

right = pd.DataFrame({'k': ['K0', 'K0', 'K3'], 'v': [4, 5, 6]})

In [40]:
pd.merge(left, right, on = 'k', suffixes = ['_l', '_r'])

    k  v_l  v_r
0  K0    1    4
1  K0    1    5

### join - 组合

最后一个数据合并的常用且重要的操作是`join`

同样很难找到比官方文档更好的练习，以下案例来源或基于 [👉官方文档](https://pandas.pydata.org/pandas-docs/version/0.20/merging.html#database-style-dataframe-joining-merging) 中的案例修改而来

在练习之前应执行每题下方的代码生成数据

并应预览不同数据的结构以及每题的图解（如果有）

In [242]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                     index=['K0', 'K1', 'K2'])


right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

#### 25 -  <font color ='#27BE49'>join</font>｜左对齐

合并 left 和 right，并按照 left 的索引进行对齐

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join.png)

In [ ]:
left.join(right)

#### 26 - <font color ='#27BE49'>join</font>｜左对齐（外连接）

按下图所示进行连接

思考：merge 做法

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_outer.png)

In [ ]:
left.join(right, how = 'outer')

In [ ]:
pd.merge(left, right, left_index = True, right_index = True, how = 'outer')

#### 27 - <font color ='#27BE49'>join</font>｜左对齐（内连接）

按下图所示进行连接

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_inner.png)

In [ ]:
left.join(right, how = 'inner')

#### 28 - <font color ='#27BE49'>join</font>｜按索引

重新产生数据并按下图所示进行连接（根据 `key`）

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_key_columns.png)

In [248]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})


right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                      index=['K0', 'K1'])

In [ ]:
left.join(right, on = 'key')

#### 29 - <font color ='#27BE49'>join</font>｜按索引（多个）

重新产生数据并按下图所示进行连接（根据 `key1` 和 `key2`）

![](https://pandas.pydata.org/pandas-docs/version/0.20/_images/merging_join_multikeys.png)

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1']})


index = pd.MultiIndex.from_tuples([('K0', 'K0'), ('K1', 'K0'),
                                  ('K2', 'K0'), ('K2', 'K1')])


right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                   'D': ['D0', 'D1', 'D2', 'D3']},
                  index=index)

In [ ]:
left.join(right, on = ['key1', 'key2'])